.el-table th.el-table__cell {
  background-color: #f4f4f5 !important;
}
.el-collapse-item {
  margin-bottom: 5px;
}
.el-collapse-item__content {
  padding-bottom: 15px !important;
}
.el-textarea__inner:hover {
  box-shadow: 0 0 0 1px var(--el-input-border-color, var(--el-border-color))
    inset;
}

.el-input.is-disabled .el-input__inner {
  -webkit-text-fill-color: #575b63;
  color: #575b63;
}
.el-select__wrapper.is-disabled .el-select__selected-item {
  color: #575b63;
}
.el-textarea.is-disabled .el-textarea__inner {
  color: #575b63;
}
.el-collapse-item__wrap {
  border-bottom: 0px !important;
}
.el-popper {
  max-width: 98%;
}

.fill-whole {
  width: 100%;
  height: 100%;
}

.fill-whole-white {
  width: 100%;
  height: 100%;
  background: #fff;
}
.el-message--warning {
  --el-message-text-color: #ff9900;
}

@font-face {
  font-family: YouSheBiaoTiHei; /* 定义字体的名称 */
  src: url('./ttf/YouSheBiaoTiHei-2.ttf') format('truetype'); /* 指定字体文件的路径和格式 */
}
@font-face {
  font-family: ReeJiBigRuixainBlackGBV; /* 定义字体的名称 */
  src: url('./ttf/ReeJi-BigRuixain-BlackGBV1.0.ttf') format('truetype'); /* 指定字体文件的路径和格式 */
}
@font-face {
  font-family: Aldrich; /* 定义字体的名称 */
  src: url('./ttf/Aldrich.ttf') format('truetype'); /* 指定字体文件的路径和格式 */
}

.el-overlay,
.el-overlay-dialog,
.el-overlay.is-message-box .el-overlay-message-box {
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: 100%;
}
